<div class="middle-box text-center loginscreen  animated fadeInDown">
  <h3 align="center" style="font-size: 30px; font-family: initial">Login</h3><br>

  <% flash.each do |key, value| %>
    <div align="center" id="flash" class="alert alert-danger" style="font-size: 15px"><%= value %></div>
  <% end %>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="field">
      <%= f.email_field :email, class: "form-control", placeholder: "Digíte seu E-mail", autofocus: true %>
    </div>

    <br>

    <div class="field">
      <%= f.password_field :password, autocomplete: "off", class: "form-control", placeholder: "Digíte sua Senha" %>
    </div>

    <br><br>

    <div class="actions">
      <%= f.submit "Login", :class => "btn btn-primary block full-width m-b" %>
    </div>
  <% end %>
  <br>
  <a class="btn btn-default" href="/patients/sign_up">Registra-se</a>
  <br><br><br><br>
</div>
<a href="/">Voltar</a>