<div class="row">
  <div class="col-lg-3 animated bounceIn">
    <%= link_to "" do %>
      <div class="widget style1 gray-bg">
        <div class="row">
          <div class="col-xs-4">
            <i class="fa fa-users fa-5x"></i>
          </div>
          <div class="col-xs-8 text-right">
            <span>Chat</span>
          </div>
        </div>
      </div>
    <% end %>
  </div>

  <div class="col-lg-3 animated bounceIn">
    <%= link_to "" do %>
      <div class="widget style1 gray-bg">
        <div class="row">
          <div class="col-xs-4">
            <i class="fa fa-phone fa-5x"></i>
          </div>
          <div class="col-xs-8 text-right">
            <span>Ligação</span>
          </div>
        </div>
      </div>
    <% end %>
  </div>

  <div class="col-lg-3 animated bounceIn">
    <%= link_to "" do %>
      <div class="widget style1 gray-bg">
        <div class="row">
          <div class="col-xs-4">
            <i class="fa fa-desktop fa-5x"></i>
          </div>
          <div class="col-xs-8 text-right">
            <span>Vídeo Chamada</span>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

<div class="row">
  <div class="col-lg-3 animated bounceIn">
    <%= link_to "" do %>
      <div class="widget style1 red-bg">
        <div class="row">
          <div class="col-xs-4">
            <i class="fa fa-file-text fa-5x"></i>
          </div>
          <div class="col-xs-8 text-right">
            <span>Minhas prescrições</span>
          </div>
        </div>
      </div>
    <% end %>
  </div>

  <div class="col-lg-3 animated bounceIn">
    <%= link_to "" do %>
      <div class="widget style1 red-bg">
        <div class="row">
          <div class="col-xs-4">
            <i class="fa fa-tint fa-5x"></i>
          </div>
          <div class="col-xs-8 text-right">
            <span>Remédios</span>
          </div>
        </div>
      </div>
    <% end %>
  </div>

  <div class="col-lg-3 animated bounceIn">
    <%= link_to "" do %>
      <div class="widget style1 red-bg">
        <div class="row">
          <div class="col-xs-4">
            <i class="fa fa-address-book fa-5x"></i>
          </div>
          <div class="col-xs-8 text-right">
            <span>Farmácias</span>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

<div class="row">
  <div class="col-lg-3 animated bounceIn">
    <%= link_to "" do %>
      <div class="widget style1 yellow-bg">
        <div class="row">
          <div class="col-xs-4">
            <i class="fa fa-money fa-5x"></i>
          </div>
          <div class="col-xs-8 text-right">
            <span>Promoções</span>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>