<div class="ibox-content animated fadeInRightBig">
  <h1 align="center">Minhas prescrições</h1>
  <br>
  <table class="table table-striped table-bordered table-hover datatable">
    <thead>
      <tr>
        <th width="20%">Médico</th>
        <th width="20%">Medicamento</th>
        <th width="60%">Dosagem</th>
        <th width="1%" class="not-export-col"></th>
      </tr>
    </thead>
    <tbody>
      <% @prescriptions.each do |prescription| %>
        <tr>
          <td><%= prescription.doctor.name %></td>
          <td><%= prescription.medicine.name %></td>
          <td><%= prescription.dosage %></td>
          <td align="center"><%= render 'shared/btn_single', link_to: prescription %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<%= render 'shared/datatable', name: 'Minhas prescrições' %>