<%= form_with(model: doctor_prescription, local: true) do |form| %>
  <% if doctor_prescription.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(doctor_prescription.errors.count, "error") %> prohibited this doctor_prescription from being saved:</h2>

      <ul>
      <% doctor_prescription.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :doctor_id %>
    <%= form.text_field :doctor_id %>
  </div>

  <div class="field">
    <%= form.label :patient_id %>
    <%= form.text_field :patient_id %>
  </div>

  <div class="field">
    <%= form.label :medicine_id %>
    <%= form.text_field :medicine_id %>
  </div>

  <div class="field">
    <%= form.label :dosage %>
    <%= form.text_field :dosage %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
