<p>
  <strong>Médico:</strong>
  <%= @doctor_prescription.doctor.name %>
</p>

<p>
  <strong>Medicamento:</strong>
  <%= @doctor_prescription.medicine.name %>
</p>

<p>
  <strong>Dosage:</strong>
  <%= @doctor_prescription.dosage %>
</p>

<p>
  <strong>Description:</strong>
  <%= @doctor_prescription.description %>
</p>

<%= link_to 'Voltar', doctor_prescriptions_path, class: 'btn btn-primary' %>