<p>
  <strong>Médico:</strong>
  <%= @doctor_prescription.doctor.name %>
</p>

<p>
  <strong>Medicamento:</strong>
  <%= @doctor_prescription.medicine.name %>
</p>

<p>
  <strong>Dosagem:</strong>
  <%= @doctor_prescription.dosage %>
</p>

<p>
  <strong>Descrição:</strong>
  <%= @doctor_prescription.description %>
</p>

<%= link_to 'Comprar', checkout_path(@doctor_prescription.medicine) %>

<%= link_to 'Voltar', "/", class: 'btn btn-primary' %>
