<div class="controls">
  <div class="button -purple new-medicine">Encontrar Medicamento</div>
</div>

<p>
  <strong>Médico:</strong>
  <%= @doctor_prescription.doctor.name %>
</p>

<p>
  <strong>Medicamento:</strong>
  <%= @doctor_prescription.medicine.name %>
</p>

<p>
  <strong>Dosagem:</strong>
  <%= @doctor_prescription.dosage %>
</p>

<p>
  <strong>Duração:</strong>
  2 dias
</p>

<p>
  <strong>Descrição:</strong>
  <%= @doctor_prescription.description %>
</p>

<hr>


<div class="button -purple">Iniciar tratamento</div>
<div class="button -grey">Configurar Notificações</div>

<table class="treatment">
  <thead>
   <tr>
      <th>Dose</th>
      <th>Dia</th>
      <th width="100">Tomou a dose?</th>
   </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        Dose 01
      </td>
      <td>
        Dia 01
      </td>
      <td>
        <input type="checkbox">
      </td>
    </tr>

    <tr>
      <td>
        Dose 02
      </td>
      <td>
        Dia 01
      </td>
      <td>
        <input type="checkbox">
      </td>
    </tr>

  </tbody>
</table>

<table class="treatment">
<thead>
   <tr>
      <th></th>
      <th></th>
      <th width="100"></th>
   </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        Dose 01
      </td>
      <td>
        Dia 02
      </td>
      <td>
        <input type="checkbox">
      </td>
    </tr>

    <tr>
      <td>
        Dose 02
      </td>
      <td>
        Dia 02
      </td>
      <td>
        <input type="checkbox">
      </td>
    </tr>

  </tbody>
</table>




<div class="controls">
  <div class="button -purple new-medicine">Encontrar Medicamento</div>
</div>

<p>
  <strong>Médico:</strong>
  <%= @doctor_prescription.doctor.name %>
</p>

<p>
  <strong>Medicamento:</strong>
  <%= @doctor_prescription.medicine.name %>
</p>

<p>
  <strong>Dosagem:</strong>
  <%= @doctor_prescription.dosage %>
</p>

<p>
  <strong>Duração:</strong>
  2 dias
</p>

<p>
  <strong>Descrição:</strong>
  <%= @doctor_prescription.description %>
</p>

<hr>


<div class="button -purple">Iniciar tratamento</div>
<div class="button -grey">Configurar Notificações</div>

<table class="treatment">
  <thead>
   <tr>
      <th>Dose</th>
      <th>Dia</th>
      <th width="100">Tomou a dose?</th>
   </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        Dose 01
      </td>
      <td>
        Dia 01
      </td>
      <td>
        <input type="checkbox">
      </td>
    </tr>

    <tr>
      <td>
        Dose 02
      </td>
      <td>
        Dia 01
      </td>
      <td>
        <input type="checkbox">
      </td>
    </tr>

  </tbody>
</table>

<table class="treatment">
<thead>
   <tr>
      <th></th>
      <th></th>
      <th width="100"></th>
   </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        Dose 01
      </td>
      <td>
        Dia 02
      </td>
      <td>
        <input type="checkbox">
      </td>
    </tr>

    <tr>
      <td>
        Dose 02
      </td>
      <td>
        Dia 02
      </td>
      <td>
        <input type="checkbox">
      </td>
    </tr>

  </tbody>
</table>

<div class="row">
  <% drugstore_medicines = DrugstoreMedicine.where(medicine: @doctor_prescription.medicine) %>
  <% drugstore_medicines.each do |drugstore_medicine| %>
    <div class="col-md-3">
      <div class="ibox">
        <div class="ibox-content product-box <%= "active" if drugstore_medicine.promotion_price %>">
          <div class="product-imitation">
            <%= drugstore_medicine.medicine.medicine %>
          </div>
          <div class="product-desc">
            <span class="product-price">
              <% if drugstore_medicine.promotion_price %>
                <%= number_to_currency(drugstore_medicine.promotion_price, :unit => "R$") %>
              <% else %>
                <%= number_to_currency(drugstore_medicine.price, :unit => "R$") %>
              <% end %>
            </span>
            <small class="text-muted"><%= drugstore_medicine.drugstore.name %></small>
            <a href="#" class="product-name"><%= drugstore_medicine.medicine.name %></a>
            <div class="small m-t-xs">
              <%= drugstore_medicine.medicine.description %>
            </div>
            <div class="m-t text-righ">
              <%= link_to 'Comprar', checkout_path(drugstore_medicine), class: 'btn btn-xs btn-outline btn-primary' %>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
<br><br>
<%= link_to 'Voltar', "/" %>
