<%= form_with(model: drugstore_medicine, local: true) do |form| %>
  <% if drugstore_medicine.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(drugstore_medicine.errors.count, "error") %> prohibited this drugstore_medicine from being saved:</h2>

      <ul>
      <% drugstore_medicine.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :medicine_id %>
    <%= form.text_field :medicine_id %>
  </div>

  <div class="field">
    <%= form.label :price %>
    <%= form.text_field :price %>
  </div>

  <div class="field">
    <%= form.label :promotion %>
    <%= form.check_box :promotion %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
