<p>
  <strong>Medicamento:</strong>
  <%= @drugstore_medicine.medicine.name %>
</p>

<p>
  <strong>Farmácia:</strong>
  <%= @drugstore_medicine.drugstore.name %>
</p>

<p>
  <strong>Descrição:</strong>
  <%= @drugstore_medicine.medicine.description %>
</p>

<p>
  <strong>Valor:</strong>
  <% if @drugstore_medicine.promotion_price %>
    De <%= number_to_currency(@drugstore_medicine.price, :unit => "R$") %> por <%= number_to_currency(@drugstore_medicine.promotion_price, :unit => "R$") %>
  <% else %>
    <%= number_to_currency(@drugstore_medicine.price, :unit => "R$") %>
  <% end %>
</p>
<%= link_to 'Comprar', checkout_path, class: 'btn btn-primary' %>
<br><br>
<%= link_to 'Voltar', '/' %>
