<div class="ibox-content animated fadeInRightBig">


<div class="controls">
  <div class="button -purple new-medicine">Adicionar Remédio</div>
</div>

  <table class="table table-striped table-bordered table-hover datatable">
    <thead>
      <tr>
        <th>Medicamento</th>
        <th>Médico</th>
        <th>Dosagem</th>
        <th width="1%"></th>
      </tr>
    </thead>
    <tbody>
      <% @doctor_prescriptions.each do |doctor_prescription| %>
        <tr>
          <td><%= doctor_prescription.medicine.name %></td>
          <td><%= doctor_prescription.doctor.name %></td>
          <td><%= doctor_prescription.dosage %></td>
          <td align="center">
            <%= render 'shared/btn_single', link_to: doctor_prescription %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  
  <div class="controls">
  <div class="button -grey new-medicine">Cancelar</div>
  <div class="button -grey new-medicine ml-10">Salvar Rascunho</div>
  <div class="button -solid-purple new-medicine ml-10">Enviar Receituário</div>
</div>


<h2 class="mt-40"><strong>Receituário Médico</strong></h2>

<div class="mt-20">
<p>
  <strong>Clínica/Hospital:</strong>
  Nome da Clinica
</p>
</div>

<p>
  <strong>Endereço:</strong>
  Rua Abacate, 201 - Florianópolis, Santa Catarina - Brasil
</p>

<p>
  <strong>CPNJ:</strong>
  78.425.986/0036-15?
</p>

<p>
  <strong>Telefone:</strong>
  +55 48 3024.1124
</p>


<hr class="mt-40 mb-40">

<p>
  <strong>Nome do Paciente*:</strong>
  <div class="row">
    <div class="col-md-12 mb-10">
      <input type="text">

    </div>
  </div>
</p>

<p>
  <div class="row">
    <div class="col-md-4">
      <strong>Data de Nascimento*:</strong>
      <input type="text">
    </div>
    <div class="col-md-4">
      <strong>E-mail*:</strong>
      <input type="text">
    </div>
    <div class="col-md-4">
      <strong>Telefone:</strong>
      <input type="text">
    </div>
  </div>
</p>

<hr class="mt-40 mb-40">

<h3 class="mt-40"><strong>Medicamento 01*:</strong></h3>
<div class="row">
  <div class="col-lg-4">
    <strong>Nome do Medicamento*:</strong>
    <input type="text">
  </div>
  <div class="col-lg-4">
    <strong>Dosagem*:</strong>
    <input type="text">
  </div>
  <div class="col-lg-4">
    <strong>Duração*:</strong>
    <input type="text">
  </div>
</div>

<div class="button -purple new-medicine mt-20">Adicionar Medicamento</div>
<hr class="mt-40 mb-40">

<div class="row">
  <div class="col-md-6">
    <p>
      <strong>Data:</strong>
      20 de Novembro de 2018
    </p>
    
    <p>
      <strong>Médico:</strong>
      Nome do Médico
    </p>
    
    <p>
      <strong>CRM:</strong>
      Valor
    </p>
    
    <p>
      <strong>Especialidade (QRM):</strong>
      Valor
    </p>


<%= image_tag("assinatura.jpg", :alt => "digital-signature", :class => "signature") %>
  </div>

  <div class="col-md-6">
    <p>
      <strong>QR Code da Prescrição:</strong>
    </p>
    <%= image_tag("qr-code.png", :alt => "qrcode", :class => "qrcode") %>
  </div>
</div>





  <%= render 'shared/datatable', name: 'Medicamentos' %>
</div>