<p id="notice"><%= notice %></p>

<p>
  <strong>Street:</strong>
  <%= @add_fields_to_drugstore_medicine.street %>
</p>

<p>
  <strong>City:</strong>
  <%= @add_fields_to_drugstore_medicine.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @add_fields_to_drugstore_medicine.state %>
</p>

<p>
  <strong>Number:</strong>
  <%= @add_fields_to_drugstore_medicine.number %>
</p>

<%= link_to 'Edit', edit_add_fields_to_drugstore_medicine_path(@add_fields_to_drugstore_medicine) %> |
<%= link_to 'Back', add_fields_to_drugstore_medicines_path %>
