<p id="notice"><%= notice %></p>

<p>
  <strong>Street:</strong>
  <%= @add_fields_to_drugstore.street %>
</p>

<p>
  <strong>City:</strong>
  <%= @add_fields_to_drugstore.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @add_fields_to_drugstore.state %>
</p>

<p>
  <strong>Number:</strong>
  <%= @add_fields_to_drugstore.number %>
</p>

<%= link_to 'Edit', edit_add_fields_to_drugstore_path(@add_fields_to_drugstore) %> |
<%= link_to 'Back', add_fields_to_drugstores_path %>
