<nav class="navbar-default navbar-static-side" role="navigation">
  <div class="sidebar-collapse">
    <ul class="nav metismenu" id="side-menu">
      <li class="nav-header">
        <div class="dropdown profile-element">
          <span style="font-size: 32px; color: white">Higia</span>
          <a data-toggle="dropdown" class="dropdown-toggle" href="#">
            <span class="clear">
              <span class="block m-t-xs">
                <% if patient_signed_in? %>
                  <strong class="font-bold"><%= current_patient.name %></strong>
                <% elsif doctor_signed_in? %>
                  <strong class="font-bold"><%= current_doctor.name %></strong>
                <% elsif admin_signed_in? %>
                  <strong class="font-bold"><%= current_admin.name %></strong>
                <% end %>
              </span>
              <% if patient_signed_in? %>
                <span class="text-muted text-xs block">Paciente<b class="caret"></b></span>
              <% elsif doctor_signed_in? %>
                <span class="text-muted text-xs block">Médico<b class="caret"></b></span>
              <% elsif admin_signed_in? %>
                <span class="text-muted text-xs block">Admin<b class="caret"></b></span>
              <% end %>
            </span>
          </a>
          <ul class="dropdown-menu animated fadeInRight m-t-xs">
            <li><a href="#"><i class="fa fa-user" aria-hidden="true"></i> Profile</a></li>
            <li class="divider"></li>
            <li>
              <% if patient_signed_in? %>
                <%= link_to destroy_patient_session_path, :method => :delete do %>
                  <i class="fa fa-sign-out"></i> <%= t('logout') %>
                <% end %>
              <% elsif doctor_signed_in? %>
                <%= link_to destroy_doctor_session_path, :method => :delete do %>
                  <i class="fa fa-sign-out"></i> <%= t('logout') %>
                <% end %>
              <% elsif admin_signed_in? %>
                <%= link_to destroy_admin_session_path, :method => :delete do %>
                  <i class="fa fa-sign-out"></i> <%= t('logout') %>
                <% end %>
              <% end %>
            </li>
          </ul>
        </div>
        <div class="logo-element"><%= t('app_name') %></div>
      </li>
      <li class="<%= is_active_controller('home') %>">
        <%= link_to root_path do %>
          <i class="fa fa-th-large"></i>
          <span class="nav-label">Menu</span>
        <% end %>
      </li>
      <% if patient_signed_in? %>
        <li class="<%= is_active_controller('chat') %>">
          <%= link_to "" do %>
            <i class="fa fa-users"></i>
            <span class="nav-label">Chat</span>
          <% end %>
        </li>
        <li class="<%= is_active_controller('call') %>">
          <%= link_to "" do %>
            <i class="fa fa-phone"></i>
            <span class="nav-label">Ligação</span>
          <% end %>
        </li>
        <li class="<%= is_active_controller('call_video') %>">
          <%= link_to "" do %>
            <i class="fa fa-desktop"></i>
            <span class="nav-label">Vídeo Chamada</span>
          <% end %>
        </li>
        <li class="<%= is_active_controller('prescription') %>">
          <%= link_to "" do %>
            <i class="fa fa-file-text"></i>
            <span class="nav-label">Minhas prescrições</span>
          <% end %>
        </li>
        <li class="<%= is_active_controller('medicines') %>">
          <%= link_to "" do %>
            <i class="fa fa-tint"></i>
            <span class="nav-label">Remédios</span>
          <% end %>
        </li>
        <li class="<%= is_active_controller('drugstores') %>">
          <%= link_to "" do %>
            <i class="fa fa-address-book"></i>
            <span class="nav-label">Farmácias</span>
          <% end %>
        </li>
        <li class="<%= is_active_controller('promotions') %>">
          <%= link_to "" do %>
            <i class="fa fa-money"></i>
            <span class="nav-label">Promoções</span>
          <% end %>
        </li>
      <% end %>
      <% if doctor_signed_in? %>
        <li class="<%= is_active_controller('chat') %>">
          <%= link_to "" do %>
            <i class="fa fa-users"></i>
            <span class="nav-label">Chat</span>
          <% end %>
        </li>
        <li class="<%= is_active_controller('call') %>">
          <%= link_to "" do %>
            <i class="fa fa-phone"></i>
            <span class="nav-label">Ligação</span>
          <% end %>
        </li>
        <li class="<%= is_active_controller('call_video') %>">
          <%= link_to "" do %>
            <i class="fa fa-desktop"></i>
            <span class="nav-label">Vídeo Chamada</span>
          <% end %>
        </li>
        <li class="<%= is_active_controller('prescription') %>">
          <%= link_to "" do %>
            <i class="fa fa-file-text"></i>
            <span class="nav-label">Prescrições</span>
          <% end %>
        </li>
        <li class="<%= is_active_controller('drugstores') %>">
          <%= link_to "" do %>
            <i class="fa fa-address-book"></i>
            <span class="nav-label">Farmácias</span>
          <% end %>
        </li>
        <li class="<%= is_active_controller('promotions') %>">
          <%= link_to "" do %>
            <i class="fa fa-money"></i>
            <span class="nav-label">Promoções</span>
          <% end %>
        </li>
      <% end %>
      <% if admin_signed_in? %>
        <li class="">
          <%= link_to rails_admin_path do %>
            <i class="fa fa-lock"></i>
            <span class="nav-label">Administração</span>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
</nav>
