<nav class="navbar-default navbar-static-side" role="navigation">
  <div class="sidebar-collapse">
    <ul class="nav metismenu" id="side-menu">
      <li class="nav-header">
        <div class="dropdown profile-element">
          <%= image_tag("higia.svg", :alt => "Higia") %>
        </div>
        <div class="logo-element"><%= image_tag("higia.svg", :alt => "Higia") %></div>
      </li>
      <% if patient_signed_in? %>
        <li>
          <%= link_to edit_patient_registration_path do %>
            <i class="fa fa-user"></i>
            <span class="nav-label"><%= current_patient.name %></span>
          <% end %>
        </li>
        <li class="<%= is_active_controller('home') %>">
          <%= link_to root_path do %>
            <i class="fa fa-file-text"></i>
            <span class="nav-label">Minhas Prescrições</span>
          <% end %>
        </li>
        <li class="<%= is_active_controller_action('patients', 'my_medicines') %>">
          <%= link_to patients_my_medicines_path do %>
            <i class="fa fa-tint"></i>
            <span class="nav-label">Meus Remédios</span>
          <% end %>
        </li>
        <li class="<%= is_active_controller('drugstore_medicines') %>">
          <%= link_to drugstore_medicines_path do %>
            <i class="fa fa-medkit"></i>
            <span class="nav-label">Medicamentos</span>
          <% end %>
        </li>
        <li class="<%= is_active_controller('drugstores') %>">
          <%= link_to drugstores_path do %>
            <i class="fa fa-address-book"></i>
            <span class="nav-label">Farmácias</span>
          <% end %>
        </li>
        <li class="<%= is_active_controller('promotion') %>">
          <%= link_to promotion_index_path do %>
            <i class="fa fa-money"></i>
            <span class="nav-label">Promoções</span>
          <% end %>
        </li>
        <li>
          <%= link_to destroy_patient_session_path, :method => :delete do %>
            <i class="fa fa-sign-out"></i>
            <span class="nav-label">Logout</span>
          <% end %>
        </li>
      <% end %>
      <% if doctor_signed_in? %>
        <li>
          <%= link_to edit_patient_registration_path do %>
            <i class="fa fa-user"></i>
            <span class="nav-label"><%= current_doctor.name %></span>
          <% end %>
        </li>
        <li class="<%= is_active_controller('home') %>">
          <%= link_to root_path do %>
            <i class="fa fa-file-text"></i>
            <span class="nav-label">Menu</span>
          <% end %>
        </li>
        <li class="<%= is_active_controller('chat') %>">
          <%= link_to "" do %>
            <i class="fa fa-users"></i>
            <span class="nav-label">Chat</span>
          <% end %>
        </li>
        <li class="<%= is_active_controller('call') %>">
          <%= link_to "" do %>
            <i class="fa fa-phone"></i>
            <span class="nav-label">Ligação</span>
          <% end %>
        </li>
        <li class="<%= is_active_controller('call_video') %>">
          <%= link_to "" do %>
            <i class="fa fa-desktop"></i>
            <span class="nav-label">Vídeo Chamada</span>
          <% end %>
        </li>
        <li class="<%= is_active_controller('prescription') %>">
          <%= link_to "" do %>
            <i class="fa fa-file-text"></i>
            <span class="nav-label">Prescrições</span>
          <% end %>
        </li>
        <li class="<%= is_active_controller('drugstores') %>">
          <%= link_to "" do %>
            <i class="fa fa-address-book"></i>
            <span class="nav-label">Farmácias</span>
          <% end %>
        </li>
        <li class="<%= is_active_controller('promotions') %>">
          <%= link_to "" do %>
            <i class="fa fa-money"></i>
            <span class="nav-label">Promoções</span>
          <% end %>
        </li>
        <li>
          <%= link_to destroy_doctor_session_path, :method => :delete do %>
            <i class="fa fa-sign-out"></i>
            <span class="nav-label">Logout</span>
          <% end %>
        </li>
      <% end %>
      <% if admin_signed_in? %>
        <li class="<%= is_active_controller('home') %>">
          <%= link_to root_path do %>
            <i class="fa fa-file-text"></i>
            <span class="nav-label">Menu</span>
          <% end %>
        </li>
        <li class="">
          <%= link_to rails_admin_path do %>
            <i class="fa fa-lock"></i>
            <span class="nav-label">Administração</span>
          <% end %>
        </li>
        <li>
          <%= link_to destroy_doctor_session_path, :method => :delete do %>
            <i class="fa fa-sign-out"></i>
            <span class="nav-label">Logout</span>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
</nav>
